.container {
    width: 90%;
    display: block;
    margin: auto;
    padding-top: 90px;
}

.content-section {
    float: left;
    width: 55%;
}

.image-section {
    padding-top: 90px;
    float: right;
    width: 35%;
}

.image-section img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.content-section .title {
    font-size: 28px;
}

.content-section .content p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
}

.content-section .social {
    margin: 40px 40px;
}

@media screen and (max-width: 768px) {
    .container {
        padding-top: 50px;
    }

    .content-section {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .image-section {
        float: none;
        width: 100%;
    }

    .image-section img {
        display: block;
        margin: auto;
    }

    .content-section .title {
        text-align: center;
        font-size: 19px;
    }

    .content-section .social {
        text-align: center;
    }
}






















