@font-face {
    font-family: 'Staatliches';
    font-style: normal;
    src: url('../fonts/Staatliches/Staatliches-Regular.ttf');
    src: local('Staatliches'), url('../fonts/Staatliches/Staatliches-Regular.ttf') format('truetype');
}



