@font-face {
    font-family: 'Righteous';
    font-style: normal;
    src: url('./fonts/Righteous/Righteous-Regular.ttf');
    src: local('Righteous'), url('./fonts/Righteous/Righteous-Regular.ttf') format('truetype');
}

body {
    background-color: #0A0B0F;
}

.link {
    font-family: 'Righteous', cursive;
    color: #9460fc;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.link:hover, .button:hover {
    text-decoration: underline;
}

.link:visited, .button:visited {
    color: #b164fa;
    text-decoration: none !important;
}

.heading {
    font-family: 'Righteous', cursive;
    letter-spacing: 2.25px;
}

