.App {
  text-align: center;
}

button {
  display: block;
  position: relative;
  line-height: 1.4;
  padding: 16px 22px;
  border-radius: 50px;
  white-space: normal;
  margin: 0 auto;
  border: 2px solid #04070c;
  background-color: #78cc52;
  color: #152844;
  font-style: bold;
  text-transform: uppercase;
}

button:hover {
  background-color: #04070c;
  color: #78cc52
}
