.App {
  text-align: center;
}

button {
  display: block;
  width: 100%;
  line-height: 1.4;
  padding-left: 5px;
  padding-right: 5px;
  white-space: normal;
  margin-top: 0;
  margin-bottom: 10px;
  min-height: 44px;
  border: 1px solid #04070c;
  background-color: #a6be45;
  color: #152844;
}

button:hover {
  background-color: #bece80;
}
