.App {
  text-align: center;
}

button {
  display: block;
  position: relative;
  line-height: 1.4;
  padding-left: 5px;
  padding-right: 5px;
  white-space: normal;
  margin: 0 auto;
  border: 1px solid #04070c;
  background-color: #78cc52;
  color: #152844;
}

button:hover {
  background-color: #bece80;
}
