@font-face {
  font-family: 'DMSans';
  font-style: normal;
  src: url('./fonts/DMSans/DMSans-Regular.ttf');
  src: local('DMSans'), url('./fonts/DMSans/DMSans-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'DMSans';
  color: #dadada;
  background-color: #040711;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
